div{
    font-size: 2em;
    background-color: black;
    color:aliceblue;

}
@media (min-width:700px){
  div
{
    background-color: blue;
}
}
@media(max-width:400px)
{
    div{
        background-color: blueviolet;
    }
}